
@import ../custom/mixin

// 用户信息名片
.user-card
  border: 1px solid #ccc
  margin-top: 25px
  +display-inline(150px, 250px)
  +outside-center
  width: 465px
  padding: 20px
  +box-shadow(3px 3px 10px 1px #aaa)
  .inline-right
    margin-left: 15px
  a,
  a:hover
    +border-radius(4px)
    +inside-center(50px, 34px)
    +inline-block
    +skin-basic(#ff500b, #fff)